.main{
  background: #ddd;
  display: flex;
  flex-direction: row;
}

img{
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px solid #000;
   box-shadow: 5px 5px 3px #ddd;
}
.profile{
  background-color: #fff;
  font-size: 14px;
  padding: 1%;
  width: 30%;
  margin: 1%;
  text-align: center;
}

.content{
  background-color: #fff;
  padding: 1%;
  margin: 1%;
  width: 70%;
}
/*
@media only screen and (min-width:320px) and (max-width:480px) {
  .main{
    background: #ddd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .profile img{
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid #000;
     box-shadow: 5px 5px 3px #ddd;
  }
  .profile{
    background-color: #c0c0c0;
    font-size: 30px;
    padding: 1%;
    width: 100%;
    margin: 1%;
    text-align: center;
  }

  .content{
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    width: 100%;
  }
  h6{
    font-size:25px;
  }
}
  @media only screen and (min-width: 481px) and (max-width: 768px){
    .main{
      background: #ddd;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;


    }

    .profile img{
      height: auto;
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #000;
       box-shadow: 5px 5px 3px #ddd;
    }
    .profile{
      background-color: #E6E6FA;
      font-size: 30px;
      padding: 1%;
      width: 100%;
      margin: 1%;
      text-align: left;
      /* color: #808080;*/
    /* }

    .content{
      background-color: #fff;
      padding: 1%;
      margin: 1%;
      width: 100%;
    }
  }  */

  @media only screen and (min-width:320px) and (max-width:480px){
    .main{
      background: #ddd;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
          }

    img{
      width: 100px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #000;
       box-shadow: 5px 5px 3px #ddd;
    }
    .profile{
      background-color: #c0c0c0;
      font-size: 14px;
      padding: 1%;
      width: 100%;
      margin: 1%;
      text-align: center;
    }

    .content{
      background-color: #c0c0c0;
      padding: 1%;
      margin: 1%;
      width: 100%;
    }
  }

  @media only screen and (min-width:481px) and (max-width:768px){
    .main{
      background: #ddd;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
          }

    img{
      width: 100px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #000;
       box-shadow: 5px 5px 3px #ddd;
    }
    .profile{
      background-color: #E6E6FA;
      font-size: 20px;
      padding: 1%;
      width: 100%;
      margin: 1%;
      text-align: left;
    }

    .content{
      background-color: #E6E6FA;
      padding: 1%;
      margin: 1%;
      width: 100%;
    }

  }
